.itemsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 500px;

  margin-top: 10px;
  margin-left: 10px;

  background: #f5f5ff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.transactionHistory {
  width: 500px;
}

.transactionHistory tbody {
  height: 40px;
  text-align: center;
}

.transactionHistory tbody:nth-child(2n + 1) {
  background-color: rgb(223, 237, 241);
}
.transactionHistory tbody:nth-child(2n) {
  background-color: white;
}

.transactionHistory thead {
  height: 40px;
  color: white;
  background-color: rgb(90, 158, 190);
}
